In [1]:
# Version to run at: https://jupyter.org/try-jupyter/lab/
# direct import of csv data to pandas data frame didn't work
# This version uses the "manual" workaround

In [16]:
import pandas as pd
import requests
import urllib3
urllib3.disable_warnings()
from io import StringIO

In [3]:
url = "https://raw.githubusercontent.com/WHPAN0108/BHT-DataScience-S23/main/python-DS/country.csv"
response = requests.get(url)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    # Print the response content (data)
    print(response.text)
else:
    print("Failed to fetch data. Status code:", response.status_code)

Name,Population,Area,GDP,Currency
Germany,82521653,357385,3466,EUR
Japan,126045000,377835,4938,YEN
Canada,36503097,9984670,1529,CAD
Italy,60501718,301338,1850,EUR
Brazilia,208360000,8515770,1798,REAL
Taiwan,23938272,36197,744,NTD
Venezuela, 28208977,912050,,VED

In [4]:
csv_data = StringIO(response.text)
df = pd.read_csv(csv_data)
print(df)

        Name  Population     Area     GDP Currency
0    Germany    82521653   357385  3466.0      EUR
1      Japan   126045000   377835  4938.0      YEN
2     Canada    36503097  9984670  1529.0      CAD
3      Italy    60501718   301338  1850.0      EUR
4   Brazilia   208360000  8515770  1798.0     REAL
5     Taiwan    23938272    36197   744.0      NTD
6  Venezuela    28208977   912050     NaN      VED

In [5]:
# Display descriptive statistics for the numerical column (count, mean, std, min, 25%, 50%, 75%, max) HINT: describe
print("\ndescribe Population")
print(df['Population'].describe())

print("\ndescribe Area")
print(df['Area'].describe())

print("\ndescribe GDP")
print(df['GDP'].describe())

describe Population
count    7.000000e+00
mean     8.086839e+07
std      6.670195e+07
min      2.393827e+07
25%      3.235604e+07
50%      6.050172e+07
75%      1.042833e+08
max      2.083600e+08
Name: Population, dtype: float64

describe Area
count    7.000000e+00
mean     2.926464e+06
std      4.348507e+06
min      3.619700e+04
25%      3.293615e+05
50%      3.778350e+05
75%      4.713910e+06
max      9.984670e+06
Name: Area, dtype: float64

describe GDP
count       6.000000
mean     2387.500000
std      1532.497537
min       744.000000
25%      1596.250000
50%      1824.000000
75%      3062.000000
max      4938.000000
Name: GDP, dtype: float64

In [6]:
# Show the last 4 rows of the data frame.
print(df[-4:])

        Name  Population     Area     GDP Currency
3      Italy    60501718   301338  1850.0      EUR
4   Brazilia   208360000  8515770  1798.0     REAL
5     Taiwan    23938272    36197   744.0      NTD
6  Venezuela    28208977   912050     NaN      VED

In [7]:
# Show all the rows of countries that have the EURO
res = df[df['Currency'] == "EUR"]
print(res)

      Name  Population    Area     GDP Currency
0  Germany    82521653  357385  3466.0      EUR
3    Italy    60501718  301338  1850.0      EUR

In [8]:
# Show only name and Currency in a new data frame
df2 = df[['Name','Currency']]
print(df2)

        Name Currency
0    Germany      EUR
1      Japan      YEN
2     Canada      CAD
3      Italy      EUR
4   Brazilia     REAL
5     Taiwan      NTD
6  Venezuela      VED

In [9]:
# Show only the rows/countries that have more than 2000 GDP (it is in Milliarden USD Bruttoinlandsprodukt)
# rows
print("Selected rows")
res2 = df[df['GDP'] > 2000.0]
print(res2)

# Only Names
print("\nOnly Name-column selected")
res3 = df.loc[df['GDP'] > 2000.0, ['Name']]
print(res3)

Selected rows
      Name  Population    Area     GDP Currency
0  Germany    82521653  357385  3466.0      EUR
1    Japan   126045000  377835  4938.0      YEN

Only Name-column selected
      Name
0  Germany
1    Japan

In [10]:
# Select all countries where with inhabitants between 50 and 150 Mio
res4 = df[(df['Population'] >= 50000000) & (df['Population'] <= 150000000)]
print(res4)

      Name  Population    Area     GDP Currency
0  Germany    82521653  357385  3466.0      EUR
1    Japan   126045000  377835  4938.0      YEN
3    Italy    60501718  301338  1850.0      EUR

In [11]:
# Calculate the GDP average (ignore the missing value)
average_gdp = df['GDP'].mean()
print(average_gdp)

2387.5

In [12]:
# Calculate the GDP average (missing value treated as 0)
df3 = df['GDP'].fillna(0)
average_gdp_with_0 = df3.mean()
print(average_gdp_with_0)

2046.4285714285713

In [13]:
# Calculate the population density (population/area)  of all countries and add as new column
df['populationdensity'] = df['Population']/df['Area']
print(df)

        Name  Population     Area     GDP Currency  populationdensity
0    Germany    82521653   357385  3466.0      EUR         230.904075
1      Japan   126045000   377835  4938.0      YEN         333.597999
2     Canada    36503097  9984670  1529.0      CAD           3.655914
3      Italy    60501718   301338  1850.0      EUR         200.776928
4   Brazilia   208360000  8515770  1798.0     REAL          24.467547
5     Taiwan    23938272    36197   744.0      NTD         661.333039
6  Venezuela    28208977   912050     NaN      VED          30.929200

In [14]:
# Sort by country name alphabetically
df_sorted = df.sort_values(by='Name')
print(df_sorted)

        Name  Population     Area     GDP Currency  populationdensity
4   Brazilia   208360000  8515770  1798.0     REAL          24.467547
2     Canada    36503097  9984670  1529.0      CAD           3.655914
0    Germany    82521653   357385  3466.0      EUR         230.904075
3      Italy    60501718   301338  1850.0      EUR         200.776928
1      Japan   126045000   377835  4938.0      YEN         333.597999
5     Taiwan    23938272    36197   744.0      NTD         661.333039
6  Venezuela    28208977   912050     NaN      VED          30.929200

In [15]:
# Create a new data frame from the original where the area is changed: all countries with > 1000000 get BIG and <= 1000000 get SMALL in the cell replaced!
dfarea = df.copy()
dfarea['Area'] = ['BIG' if Area > 1000000 else 'SMALL' for Area in dfarea['Area']]
print(dfarea)

        Name  Population   Area     GDP Currency  populationdensity
0    Germany    82521653  SMALL  3466.0      EUR         230.904075
1      Japan   126045000  SMALL  4938.0      YEN         333.597999
2     Canada    36503097    BIG  1529.0      CAD           3.655914
3      Italy    60501718  SMALL  1850.0      EUR         200.776928
4   Brazilia   208360000    BIG  1798.0     REAL          24.467547
5     Taiwan    23938272  SMALL   744.0      NTD         661.333039
6  Venezuela    28208977  SMALL     NaN      VED          30.929200